proj/context/context
proj/cube/vertex/vertex
proj/cube/instance/instance
proj/transformations/transformations
proj/light/diffuse/diffuse
proj/light/specular/specular
proj/light/phong/phong
proj/light/materials/materials
proj/light/texture/texture
proj/light/maps/maps

config.mk
bin

*.swp
*.swo
*.swn
*.o
*.out
*.a
