proj/context/context
proj/cube/vertex/vertex
proj/cube/instance/instance
proj/transformations/transformations
proj/light/diffuse/diffuse
proj/light/specular/specular
proj/light/phong/phong
proj/light/materials/materials
proj/light/texture/texture
proj/light/maps/maps
proj/light/casters/directional/directional
proj/light/casters/multiple_lights/multiple_lights
proj/light/casters/point_light/point_light
proj/light/casters/spotlight/spotlight

make/config.mk
bin

*.swp
*.swo
*.swn
*.o
*.out
*.a
